    <div class="header-info">
        <h1 id="top">Tim Ferriss Podcast Book Recommendations</h1>
    </div>

    <!-- <div class="menu-background">
      <a class="menu-admin" href="../adminUI/">admin</a>
      <ul class="drop-menu">
        <li {% if temp_path == 'stage1' %} class="menu-selected" {% endif %}><a href="../stage1/">Stage 1</a>
            <ul class="drop-two">
                <li><a href="../stage1/#less-1-1">Basic Menu Layout</a>
                    <ul class="drop-three">
                        <li><a href="../stage1/#top">Home</a></li>
                    </ul>
                </li>
            </ul>
        </li>
      </ul>

    </div> -->
