{% extends 'base.html' %}

{% block title %}references {% endblock %}

{% block content %}
    <div>
        <h2>Hello World!!</h2>
    </div>

    <div>
        {% for item in references %}
            <div class="lesson-idea">
                <h3>Title : {{ item.title }}  <span style="margin: 0 100px">Author : {{ item.author }}</span> </h3>
                <p>counter: {{ item.counter }}<br/>
                link : {{ item.href }}<br/>
                referrers :</p>
                {% for ref in item.referrer %}
                <p>{{ podcasts[ref][0] }}</p>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
{% endblock content %}











