{% extends 'base.html' %}

{% block title %}references {% endblock %}

{% block content %}

    <div>
        {% for item in references %}
            {% if "amazon" in item.href %}
            <div class="lesson-idea">
                <div class="book_image">
                    <a href="{{ item.href }}" target="_blank"><img src="/images/4hourworkweek.jpg"></a>
                </div>
                <h2><a href="{{ item.href }}" target="_blank">{{ item.title }}</a></h2>
                <h4>Author : {{ item.author }}</h4>
                <p>Number of References: {{ item.counter }}</p>
                <p>Podcasts :<br/>
                {% for ref in item.referrer %}
                    <a href="{{ podcasts[ref]['href'] }}" target="_blank">{{ podcasts[ref]['title'] }}</a><br/>
                {% endfor %}
                <br clear="all">
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}











